$color_primary: #027cfd;
$color_secondary: #717a83;
$color_success: #2bae4a;
$color_danger: #d93243;
$color_warning: #f8bb05;
$color_light: #f5f8fa;
$color_dark: #343a40;
$color_white: #ffffff;
$color_black: #000000;

$size_small: 0.8rem;
$size_normal: 1.2rem;
$size_big: 1.7rem;
$size_large: 2.3rem;
