#product-card {
  height: 17rem;
  width: 13rem;
  border: 1px black solid;
}
.container {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.header {
  margin-bottom: 11rem;
}
.body {
  width: 94rem;
  min-height: 15rem;
}
footer {
  border-top: 1px solid black;
}
