#product-card {
  height: 17rem;
  width: 13rem;
  border: 1px black solid;
}
.product-img img {
  height: 10rem;
  width: 10rem;
  border: 1px black solid;
}
.container {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}
