.banner {
  height: 20rem;
  width: 50rem;
  border: 1px black solid;
}
#product-card {
  height: 17rem;
  width: 13rem;
  border: 1px black solid;
}
.product-img img {
  height: 10rem;
  width: 10rem;
  border: 1px black solid;
}
